<div class="print-section">
<div class="ibox-content p-xl">
                            <div class="row">
                                <div class="col-sm-6">
                                    <address>
                                        <strong>PROYECTO</strong><br>
                                        <strong>LISTADO DE INVENTARIO</strong><br>
                                        Ciudad Neily<br>
                                        <abbr title="Phone">P:</abbr> (123) 601-4590
                                    </address>
                                </div>

                                <div class="col-sm-6 text-right">
                                    <h4>Listado de Inventario</h4>
                                    <h4 class="text-navy">CCC-{{secuence}}</h4>
                                    <p>
                                        <span><strong>Fecha:</strong> {{print_date}}</span><br>
                                    </p>
                                </div>
                            </div>

                            <div class="table-responsive m-t">
                                <table class="table invoice-table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Monto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of data">
                                          <td>{{item.id}}</td>
                                          <td>{{item.name}}</td>
                                          <td>{{item.type}}</td>
                                          <td>{{item.price}}</td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div><!-- /table-responsive -->


                            <div class="well m-t"><strong>Comentarios</strong>
                                La emisión de éste reporte se limita a consultas de clientes internos, para una certificación de inventario favor dirigir solicitud al gerente.
                            </div>
                        </div>
                        </div>